
        .top-section {
            border: 2px solid black;
            padding: 10px;
        }
        
        .paragraph{
            font-size: 30px;
        }
        .top-section {
    background-color: #f5efef;
    padding: 20px;
}
.trivia-section {
    font-size: 25px;
}
  